<p data-hook="skrill_quick_checkout"></p>

<style>
  iframe.skrill_frame{
    border: 0px;
    width: 500px;
    height: 500px;
  }
</style>

<fieldset id="skrill_payment__<%= payment_method.id %>" data-hook>
  <legend><%= t(:payment_information) %></legend>
  <iframe id="skrill_frame_<%= payment_method.id %>" class="skrill_frame" src="<%= pay_skrill_path(:order_id => @order, :payment_method_id => payment_method) %>"></iframe>
</fieldset>

